/* TOPページの画像 */
div#home_image {
  text-align: center;
}
div#home_image img {
  position: relative;
  width: 40vw;
  height: auto;
  margin: 10px;
  left: 15vw;
}

div#top_message {
  position: relative;
  top: 10vh;
  left: -30vw;
  float: right;
}
