* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

div#header {
}
div#contents {
  position: relative;
  top: 10vh;
}

div#top_title {
  background-color: #000000;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  border-width: 0;
  width: 100vw;
  height: 8vw;
  display: table-cell;
  vertical-align: middle;
}

/* 他のページへのリンクボタン */
div#menu {
  position: relative;
  float: right;
  left: -10vw;
  padding: 5px;
}
 #menu ul {
   margin: 0;
   padding: 0;
   list-style: none;
 }
 #menu li {
   display: inline;
   margin: 1px;
   padding: 0;
   float: left;
 }
 #menu li a {
   border-bottom: 3px solid #000000;
   padding: 3px 10px;
   text-decoration: none;
   color: #000000;
   width: 8vw;
   height: 3vh;
   margin: 1px 0px;
   text-align: center;
   font-size: 1vw;
   display: table-cell;
   vertical-align: middle;
 }
 #menu li a:hover {
   background-color: #AAAAAA;
 }
